window {
  background-color: #f0f0f0;
}

button {
  background-color: #4CAF50;
  color: rgb(43, 43, 43);
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

entry {
  padding: 5px;
  font-size: 14px;
}

searchentry {
  font-size: 14px;
}

treeview {
  font-size: 14px;
}


.side-panel {
  min-width: 0;
  transition: min-width 0.3s ease, margin-left 0.3s ease;
  background-color: #333;
  padding: 10px;
  min-width: 50px;
}

.side-panel.expanded {
  min-width: 250px;
}

.main-content {
  transition: margin-left 0.3s ease; 
}

.side-panel.expanded + .main-content {
  margin-left: 250px;
}


.side-panel.collapsed {
  min-width: 50px;
}

side-panel.collapsed + .main-content {
  margin-left: -250px;
}